body {
    font-family: sans-serif;
}

#menu {
    display: flex;
}

#menu a {
    cursor: pointer;
    margin: 0.5em;
    color: blue;
}

.container {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 960px;
}

h1,
h2 {
    text-align: center;
}

section {
    margin-bottom: 1em;
    background: #eee;
    padding: 1em;
    border-radius: 3px;
}
