<h2>Sample Page</h2>

<section>
    <h3>Some Component</h3>
</section>

<section>
    <h3>Some Component</h3>
</section>

<section>
    <h3>Some Component</h3>
</section>

<section>
    <h3>Some Component</h3>
</section>